/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-abr-2017, 8:39:02
    Author     : User
*/
footer {
    background-color: #161e2c; 
    color: white;
    width: 100%;
    font-family: Georgia, Cambria, Times, "Times New Roman";    
}

.panel-arriba{
    background-color: #161e2c;
}

.barra-arriba{
    background-color: #b23c54;
}

.texto-fuerte{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.texto-link{
    color: white;
}

button{
    background: #b23c54;
    box-shadow: 0px 5px 0px 0px #6d2433;
    border-radius: 100px;
}

#teclado, #monitor,#parlantes, #mouse {
     background-color: #b23c54;
     border-color: black;
     border-style: solid;
     font-family: Georgia, Cambria, Times, "Times New Roman";
     color: #1b301e;
     border-width: 1px;
     border-radius: 15px;
}

/*Monitor*/
#imagen0{
    width: 266px;
    height: 266px;
    text-align: center;
}

/*Teclado*/
#imagen1{
    align-content: center;
    text-align: center;
}

/*Mouse*/
#imagen2{
    width: 66px;
    height: 55px;
    text-align: right;
}

/*Parlantes*/
#imagen3{
    text-align: left;
}


.thumbnail{
    height:500px;
}
